
<form action="/users/<%= @user_id %>/stories/<%= params[stories][id] %>" method="post">
  <select name="stories[id]">
    <% @user_stories.each do |story|%>
    <option value="<%=story.id%>"><%=story.title%></option>
    <%end%>
  </select>

  <input type="hidden" name="_method" value="delete">
  <input type="submit">
</form>
