
<form action="/users/<%= params[users][id] %>" method="post">

  <select name="users[id]">
      <% User.all.each do |user|%>
    <option value="<%=user.id%>">
      <%=user.email%></option>
        <%end%>
      </select>
    <input type="hidden" name="_method" value="delete">

  <input type="submit">
</form>
