<div>
  <h2>Users</h2>
  <a href="/users/delete">Delete</a>
  <ul>
    <% User.all.each do |user| %>
    <li>
      <a href="/users/<%= user.id %>"><%= user.email %></a>
    </li>
    <% end %>
  </ul>
</div>
