<div>
  <form action="/users" method="post">
    <h3>Email:</h3>
    <input type="text" name="users[email]" placeholder="Email">
    <h3>Password:</h3>
    <input type="password" name="users[password]" placeholder="Password">
    <input type="submit">
  </form>
</div>
